<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Protocol Buffer"
            id="ProtoDebugger">
      </category>
      <view
            name="ProtoEditor"
            category="ProtoDebugger"
            class="protodebugger.views.ProtoEditor"
            id="protodebugger.views.ProtoViewer">
      </view>
      <view
            category="ProtoDebugger"
            class="protodebugger.views.ProtoCacheViewer"
            id="protodebugger.views.ProtoCacheViewer"
            name="ProtoViewer">
      </view>
      <view
            category="ProtoDebugger"
            class="protodebugger.views.EditorTree"
            id="protodebugger.views.ProtoEditorTree"
            name="EditorTree"
            restorable="true">
      </view>
      <view
            class="protodebugger.views.Tester"
            id="protodebugger.views.Tester"
            name="New ViewPart">
      </view>
      <view
            class="protodebugger.views.ViewEditor"
            id="protodebugger.views.ViewEditor"
            name="New ViewPart">
      </view>
      <view
            class="protodebugger.views.RCPProtoEditor"
            id="protodebugger.views.RCPProtoEditor"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="left"
               id="protodebugger.views.ProtoViewer">
         </view>
         <view
               id="protodebugger.views.ProtoCacheViewer"
               minimized="false"
               relationship="stack"
               relative="protodebugger.views.ProtoViewer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="toolbar:protodebugger.views.ProtoEditorTree"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:protodebugger.views.ProtoEditorTree">
         <command
               commandId="protodebugger.commands.Build"
               id="protodebugger.views.ProtoEditorTree.Toolbar.Build"
               label="Build"
               style="push"
               tooltip="Builds the current proto file">
         </command>
      </menuContribution>
	<menuContribution
            allPopups="true"
            locationURI="toolbar:protodebugger.views.ProtoCacheViewer">
         <command
               commandId="protodebugger.commands.Save"
               id="protodebugger.views.ProtoViewer.Toolbar.Save"
               label="Save"
               style="push"
               tooltip="Saves Proto Files">
         </command>
         <command
               commandId="protodebugger.commands.Load"
               id="protodebugger.views.ProtoViewer.Toolbar.Load"
               label="Load"
               style="push"
               tooltip="Loads Proto Files">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="protodebugger.commands.ProtoSelection"
            id="protodebugger.commands.ProtoSelection"
            name="ProtoSelection">
      </command>
      <command
            defaultHandler="protodebugger.commands.Build"
            id="protodebugger.commands.Build"
            name="Build">
      </command>
      <command
            defaultHandler="protodebugger.commands.Remove"
            id="protodebugger.commands.Remove"
            name="Remove">
      </command>
      <command
            defaultHandler="protodebugger.commands.Add"
            id="protodebugger.commands.Add"
            name="Add">
      </command>
      <command
            defaultHandler="protodebugger.commands.Save"
            id="protodebugger.commands.Save"
            name="Save">
      </command>
      <command
            defaultHandler="protodebugger.commands.Load"
            id="protodebugger.commands.Load"
            name="Load">
      </command>
      <command
       		defaultHandler="protodebugger.commands.AddProtoPackage"
            id="protodebugger.commands.AddProtoPackage"
            name="AddProtoPackage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="protodebugger.views.ProtoPerspective"
            id="ProtoDebugger.perspective"
            name="ProtoDebugger">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="protodebugger.views.RCPProtoEditor"
            id="protodebugger.views.RCPProtoEditor"
            name="New EditorPart">
      </editor>
   </extension>

</plugin>

